 .loginPanelStyle{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 15%;
 }

 .registerPanelStyle{
    margin-left: auto;
    margin-right: auto;
    width: 730px;
    margin-top: 10%;
 }
 
  .homeTitle{        
    margin-top: 1%;
 }
 
 .titulo{
	color: black;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}

 .userDataTableStyle{
    margin-left:  5px;
    margin-right: 5px;
    margin-top: 0;
 }

