<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http authentication-manager-ref="authMgr" auto-config="true" access-denied-page="/pages/security/access-denied.jsf">
	
		<intercept-url pattern="/pages/security/login.jsf" access="IS_AUTHENTICATED_ANONYMOUSLY" />	
		<intercept-url pattern="/pages/security/register.jsf" access="IS_AUTHENTICATED_ANONYMOUSLY" />		
        <intercept-url pattern="/**.jsf" access="ROLE_USER"  />       
		<intercept-url pattern="/pages/contact/**.jsf" access="ROLE_USER"  />
		
		<form-login login-processing-url="/j_spring_security_check"
			        login-page="/pages/security/login.jsf" 
			        default-target-url="/pages/contact/manage.jsf"
			        authentication-failure-url="/pages/security/login.jsf" />
			        
		<logout invalidate-session="true"
            	delete-cookies="true" 
            	logout-url="/pages/security/logout.jsf" 
		        logout-success-url="/pages/contact/manage.jsf" />
		        
	</http>

	<authentication-manager id="authMgr">
		<authentication-provider ref="customAuthenticationProvider" />		
	</authentication-manager>

</beans:beans>